__pycache__/
*.py[cod]
*$py.class
*.so
.ipynb_checkpoints
.env/
.venv/
env/
venv/
ENV/
.env
*.env
.vscode/
.idea/
.DS_Store
*.swp
*.egg-info/
*.egg
*.dist-info/
*.spec
*.log
*.nbconvert.ipynb
output/
*.out
.mypy_cache/
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/
.ipython/
*.bak
